<html>
<body>
<div>
    <form method="post">
        <input type="text" name="title" placeholder="Введите название дела">
        <input type="text" name="description" placeholder="Что нужно сделать">
        <button type="submit">Сохранить</button>
    </form>
</div>
<div>Список дел</div>
{{#todos}}
<div>
<b>{{id}}</b>
<span>{{title}}</span>
<span>{{description}}</span>
<span>{{isdone}}</span>
<i>{{creationtime}}</i>
</div>
{{/todos}}
</body>
</html>